name: Publish Scoped Package

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Which package to publish (@dressed/...)"
        required: true
        type: "choice"
        options:
          - "framework"
          - "matcher"
          - "react"
          - "ws"
      prerelease:
        description: "Mark as a release candidate"
        required: false
        default: false
        type: "boolean"

jobs:
  test:
    uses: ./.github/workflows/test.yml
  publish:
    name: Build and Publish
    needs: test
    runs-on: ubuntu-latest

    environment: Production

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Build Package
        run: bun turbo dist

      - name: Authenticate with NPM
        run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_SCOPE_TOKEN }}

      - name: Publish to NPM
        working-directory: packages/dressed-${{inputs.package}}
        env:
          TAG: ${{ inputs.prerelease && 'rc' || 'latest' }}
        run: |
          bunx npm publish --provenance --access public --tag "$TAG"
